@import url('https://fonts.googleapis.com/css?family=Dokdo');

.heading {
    text-align: center;
    font-family: 'Dokdo', cursive;
    padding-top: 30px;
}

.email {
    text-align: center;
    font-family: 'Dokdo', cursive;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}